# The URL of the main application's API
# For local development on Android Emulator, this is usually http://10.0.2.2:3000
# For local development on iOS Simulator, this is usually http://localhost:3000
# For production, this should be the deployed URL of the main app
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000
